/.phpunit.cache
node_modules/
**/node_modules/
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/app/whatsapp_session/
/storage/app/meesho_session/
/storage/app/labels/*.pdf
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
*.zip
*.tar.gz
label_deploy.zip
